<div ngbAccordion>
  <div ngbAccordionItem class="mb-3 "  [collapsed]="false">
    <h2 ngbAccordionHeader >
      <button ngbAccordionButton  style="background: linear-gradient(0.00deg, rgb(7, 107, 255), rgb(0, 123, 255) 100%);">Собираете ли вы подарочные боксы?</button>
    </h2>
    <div ngbAccordionCollapse class="">
      <div ngbAccordionBody class=""  >
        <ng-template class="accordion-collapse collapse show "> Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
          стоимость!
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton  style="background: linear-gradient(0.00deg, rgb(7, 107, 255), rgb(0, 123, 255) 100%);"> Сколько у вас разновидностей чая?</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>На данный момент наша чайная коллекция содержит шесть разновидностей.</ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton  style=""> В какой срок осуществляется доставка?</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>Срок доставки зависит от адреса, куда нужно доставить.</ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="text-white" style="background: linear-gradient(0.00deg, rgb(7, 107, 255), rgb(0, 123, 255) 100%);">У вас обновляется ассортимент?</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>Да, за обновлениями нашего ассортимента можете следить на нашем сайте.</ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="text-white" style="background: linear-gradient(0.00deg, rgb(7, 107, 255), rgb(0, 123, 255) 100%);">Какого объема у вас пачки чая?</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template> Вес упаковок чая от 100гр до 500гр.</ng-template>
      </div>
    </div>
  </div>
</div>


